<div class="container">
  <div class="card">
    <div class="card-header">
      User
    </div>
    <div class="card-body">
      <div class="container">
        <button mat-flat-button color="primary" type="button" (click)="AddUserModal()" style="margin:0px 20px;">Add User</button>
        <h3 class="text-center mt-5 mb-5">User List</h3>
        <table class="table">
          <thead>
            <tr>
              <th>User Name</th>
              <th>User Age</th>
              <th>User Gender</th>
              <th>EMail Id</th>
              <th>Country</th>
              <th>Phone Number</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let post of POSTS
                  | paginate
                    : {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count
                      };
                let i = index
              "
            >
              <th scope="row">{{ post.userName }}</th>
              <td>{{ post.userAge }}</td>
              <td>{{ post.userGender }}</td>
              <td>{{ post.eMailId }}</td>
              <td>{{ post.country }}</td>
              <td>{{ post.phoneNumber }}</td>
              <td>
                <button type="submit" class="btn btn-secondary" (click)="onEditUser(post)">
                  <i class="glyphicon glyphicon-edit"></i>Edit
                </button>
              </td>
              <td>
                <button type="submit" class="btn btn-secondary" (click)="onDeleteUser(post)">
                  <i class="glyphicon glyphicon-delete"></i>Delete
                </button></td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-center">
          <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)"
          >
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>