<div class="container">
  <div class="card">
    <div class="card-header">
      Add User
    </div>
    <div class="card-body">
      <div class="container">
        <button class="btn btn-outline-primary float-right">Add User</button>
        <h3 class="text-center mt-5 mb-5">User List</h3>
        <table class="table">
          <thead>
            <tr>
              <th>User Name</th>
              <th>User Age</th>
              <th>User Gender</th>
              <th>EMail Id</th>
              <th>Country</th>
              <th>Phone Number</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let post of POSTS
                  | paginate
                    : {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count
                      };
                let i = index
              "
            >
              <th scope="row">{{ post.userName }}</th>
              <td>{{ post.userAge }}</td>
              <td>{{ post.userGender }}</td>
              <td>{{ post.eMailId }}</td>
              <td>{{ post.country }}</td>
              <td>{{ post.phoneNumber }}</td>
              <td>
                <button type="submit" class="btn btn-secondary" (click)="onEditUser(post)">
                  <i class="glyphicon glyphicon-edit"></i>Edit
                </button>
              </td>
              <td>
                <button type="submit" class="btn btn-secondary" (click)="onDeleteUser(post)">
                  <i class="glyphicon glyphicon-edit"></i>Edit
                </button></td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-center">
          <pagination-controls
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)"
          >
          </pagination-controls>
        </div>
      </div>

      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
    </div>
  </div>
</div>